z*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.GameBoard{
    position: relative;
    width: 800px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
}

.Personagem {
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: absolute;
    top: 150px;
 }

 .Pixelart{
    image-rendering: pixelated;
 }

 
 .CavaleiroAndando{
     animation: andandoSpriteSheet 500ms steps(4) infinite;
     width: 256px;
     position: absolute;
    }
    
    .Direita{
       top: -0px
    }
    
    .Esquerda{
       top: -64px
    }

 .CavaleiroParado{
     width: 256px;
     position: absolute;
    }
    
    
 @keyframes andandoSpriteSheet {
   
    from{
        transform: translate3d(0px, 0, 0)
    }
    to{
        transform: translate3d(-100%, 0, 0);
    }

}