z*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.GameBoard{
    position: relative;
    width: 803px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
}

.Cenario{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Assets/cenario.png'); /* Substitua pelo caminho da sua imagem */
    background-size: contain; /* Ajusta a imagem para cobrir todo o GameBoard */
    background-position: center;
    z-index: -1; /* Coloca a imagem de fundo atrás dos outros elementos */
}
.Personagem {
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: absolute;
    top: 200px;
 }

 .Inimigo{
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: absolute;
    top: 200px;
    left: 740px;
 }

 .Pixelart{
    image-rendering: pixelated;
 }

 
 .CavaleiroAndando{
     animation: andandoSpriteSheet 500ms steps(4) infinite;
     width: 256px;
     position: absolute;
    }
    
    .Direita{
       top: -0px
    }
    
    .Esquerda{
       top: -64px
    }

    .CavaleiroAtacando{
    animation: atacandoSpriteSheet 1s steps(4) forwards;
    width: 256px;
    position: absolute;
    }

    .DireitaAtaque{
        top: -128px;
    }

   
 .CavaleiroParado{
     width: 256px;
     position: absolute;

    }
    
    .InimigoParado{
    width: 256px;
    position: absolute; 
}
    
    
 @keyframes andandoSpriteSheet {
   
    from{
        transform: translate3d(0px, 0, 0)
    }
    to{
        transform: translate3d(-100%, 0, 0);
    }
}
    
 @keyframes atacandoSpriteSheet {
   
    from{
        transform: translate3d(0px, 0, 0)
    }
    to{
        transform: translate3d(-100%, 0, 0);
    }
}